html{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 0.2em;
  border: black solid 1px;
  padding: 2em;
  background-color: #eee;
  border-radius: 1em;
}

input{
  background-color: transparent;
  border: black solid 1px;
  border-radius: 5px;
  padding: 5px
}

a{
  text-decoration: none;
}

div{
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gender, .gender > *{
  padding-top: 0px;
}

.error{
  border: 2px solid  red !important;
  border-color: red;
  color: red;
}
