*{
  font-family: cursive;
}

body {
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
#todo-list {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  width: 100%;
}
h1 {
  color: #333;
  text-align: center;
}
.task {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.task input[type="text"] {
  flex: 1;
  margin-right: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}
.task button {
  padding: 8px 12px;
  margin: 3px;
  border: none;
  border-radius: 4px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}
.task button:hover {
  background-color: #45a049;
}
.task button.delete {
  background-color: #f44336;
}
.task button.delete:hover {
  background-color: #d32f2f;
}
#new-task {
  width: calc(100% - 80px);
}
#new-task,
button.add-task {
  padding: 8px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  margin-right: 10px;
}
button.add-task {
  background-color: #2196f3;
  color: white;
  transition: background-color 0.3s;
}
button.add-task:hover {
  background-color: #1976d2;
}
